@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */


:root {
    --laranja: #EB662B;
}

* {

    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}


li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 15px;
}

li {
    list-style: none;
}

.caixa-logo {
    height: 40px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

#logo {
    width: 167px;
    height: 32px;
}

.search {
    color: #757575;
}

ul {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.cabecalho {
    height: 50px;
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    background-color: #EB662B;
    height: 0px;
    color: white;
    border-radius: 22px
}

section {
    padding: 50px;
}

.banner {
    background-image: url("./assets/img/Section.png");
    background-repeat: no-repeat;
    width: 1800px;
    height: 702.13px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.caixa-texto-banner {
    height: 130px;
    width: 700px;
    color: #ffffff;
    margin-bottom: 50px;
}

.texto-banner {
    font-size: 69px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.texto-banner2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
}

.quadrado-banner {
    width: 850px;
    height: 80px;
    background-color: #E7E6E6;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixa-formas {
    width: 750px;
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 20px;
    align-items: center;
    font-size: 14px;
    padding: 5px;
}

.formas {
    display: flex;
    flex-direction: column;
}

.quadrado {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 12px;
}

.caixa-btn-search {
    background-color: #EB662B;
    height: 60px;
    width: 136.95px;
    border-radius: 12px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
}

.btn-search {
    border: none;
    background-color: #EB662B;
    color: #ffffff;
    border-radius: 12px;
    margin-left: 40px;
}

.section-qualidades {
    margin: auto;
    width: 1320px;
    height: 296.38px;
    color: #05073C;
}


.caixa-titulo {
    margin-bottom: 50px;
}

.caixa-icone {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.texto-titulo1 {
    height: 45px;
    font-weight: 700;
    font-size: 30px;
}

.conteiner-icones {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.bi {
    font-size: 50px;
    color: var(--laranja);
}

.strong {
    font-size: 16.72px;
    font-weight: 500;
}

.texto-icone {
    font-size: 14.88px;
    font-weight: 400;
}

.caixa-icone {
    width: 200px;
}

.section-carrosel {
    margin: auto;
    width: 1320px;
    height: 390.25px;
    color: #05073C;
}

.carrosel {
    margin-top: 80px;
}


.caixa-box-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.box-titulo {
    font-size: 30px;
    font-weight: 700;
}

.box-descricao {
    font-size: 14.3;
    font-weight: 400;
}

.box-turismo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixa-texto-turismo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.Tours-polular {
    width: 1320px;
    height: 940.63px;
    margin: auto;
    gap: 100px;
}

.container-tours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    justify-content: flex-start;
}


.descricao-tours {
    font-size: 14.3px;
    font-weight: 400;
}

.caixa-tours {
    border: 1px solid black;
    width: 300px;
    height: 388.31px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

#img-tours {
    margin: 15px;
}

.pais-tours {
    margin-left: 15px;
    font-size: 12.29px;
    font-weight: 400;
}

.local-tours {
    margin: 15px;
    font-size: 15.88px;
    font-weight: 500;
}

.caixa-avaliacoes {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    margin: 15px;
}

.bi-star-fill {
    font-size: 10px;
    font-weight: 400;
}

.avaliacoes-tours {
    font-size: 12.49px;
    font-weight: 400;
}

.dias-tours {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.banner-2{
    background-image: url("./assets/img/oferta.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 702.13px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  .caixa-btn-boock-now{
    background-color: #EB662B;
    height: 40px;
    width: 136.95px;
    border-radius: 10px;

    display: flex;
  }
  .caixa-titulo-popular {
    display: flex;
    justify-content: space-between;
}

.titulo-popular {
    font-size: 29.41px;
    font-weight: 700;
}

  